<%
# Renders the workload data for one single issue.
# Parameters:
#  * user: The user to render the data for.
#  * issue: The issue to render the data for.
#  * workload: The data to render. A Workload instance
#  * index: Index of the issue for this user.
%>

<%
  klass  = (index % 2 == 0) ? 'even' : 'odd'
  klass += ' overdue' if issue.workload_overdue?(@today)
%>

<tr class="issue-workload <%= klass %>">
  <th class="issue-description" scope="row">
    <div class="tooltip"><%= link_to_issue(issue) %>
      <span class="tip"><%= render_issue_tooltip(issue) %></span>
    </div>
  </th>
  <% workload.each do |workload_day| %>
    <td class="<%= workload_day_class workload_day %>">
      <span><%= format_workload_hours workload_day.hours %></span>
    </td>
  <% end %>
</tr>
